* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body  {
    background-color: rgba(0, 0, 0, 0.908);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap-reverse;
}
.card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}
.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.card:hover .card-inner {
    transform: rotateY(180deg);
}
.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 16px;
    -webkit-backface-visibility: hidden;
    border-radius: 20px;
}
.card-front {
    background-image: linear-gradient(300deg , #6f04d9, #d9048e);
}
.card-back {
    background-image: linear-gradient(300deg , #6f04d9, #d9048e);
    color: #fff;
    transform: rotateY(180deg);
}
.card-front img {
    margin-top: 1.5rem;
}
.card-back img {
    width: 140px;
    margin-top: 1rem;
}
.card-back h3 {
    font-size: 2rem;
    margin-bottom: 0.3rem;
}
.card-back p {
    font-size: 1.5rem;
}